@font-face {
  font-family: questa-sans-regular;
  src: url(../../public/questa-sans-regular.otf);
}

.App {
  text-align: center;
  font-family: questa-sans-regular;
}

.main_body{
  margin-top: 5px;
}

.App-header {
  min-height: 10vh;
  background-color: #9eebdc;
  box-shadow: (0, 4px, 8px, "#488d7f3");
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.esgbook-logo{
  width: 200px; 
}

.framework_selection_container{
  margin-top: 50px;
}

.button_selector{
  margin-top: 2%;
}

.results_container{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.results_sub_container{
  display: flex;
  flex: 2;
  max-width: 50%;
  padding: 5px;
  border: 1px solid black;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.slider_container{
  padding: 2%;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
}

.MuiSlider-thumb:not(.MuiSlider-active) {
  transition: left 0.3s ease-in;
}

.MuiSlider-track {
  transition: width 0.3s ease-in;
}

.question_info_text_container{
  min-height: 10vh;
}

.level_suggestions_container{
  text-align: left;
}

.question-info-text{
  -webkit-animation: fadeInFromNone 1s ease-out;
  -moz-animation: fadeInFromNone 1s ease-out;
  -o-animation: fadeInFromNone 1s ease-out;
  animation: fadeInFromNone 1s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}